@charset "UTF-8";

:root {
    --family: 'Raleway', sans-serif;
    --btn-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-a: #B4BEC9;
    --color-b: #159A9C;
    --color-c: #002333;
    --color-d: #DEEFE7;
    --color-e: #FFFFFF;
}

.auth-container {
    background-color: var(--color-d);
    border-radius: 20px;
    box-shadow: 20px 20px 30px var(--color-a);
    width: 60%;
    position: fixed;    
    top: 20%;
    left: 20%;
}

#main-register { top: 5%; }

#main-register > div {
    background-position: top center;
    height: 660px;
}

.auth-descriptions {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url('../images/person-vr-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 400px;
}

.auth-container h1 {
    font-size: 1.8em;
    color: var(--color-c);
    text-shadow: 1px 1px 3px var(--color-e);
    font-weight: bold;
}

.auth-container p {
    font-size: 1.3em;
    font-style: italic;
}

label {
    color: var(--color-e);
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--color-c);
    cursor: pointer;
}

.auth-container .form-control,
.auth-container .form-control:focus,
.input-group-text {
    border: 0px none transparent;
    box-shadow: 1px 1px 5px var(--color-e);
    color: var(--color-b);
    background-color: var(--color-e);
}

form > .btn {
    color: var(--color-e);
    background-color: var(--color-b);
    font-family: var(--btn-family);
    font-size: 1.2em;
    transition: opacity 0.4s ease-out;
    cursor: pointer;
}

form > .btn:hover {
    color: var(--color-e);
    background-color: var(--color-b);
    opacity: 0.8;
}

.extra-actions .btn-link {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-c);
}

.extra-actions .btn-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-b);
}

.auth-container .form-control::placeholder { color: var(--color-b); }
