@charset "UTF-8";

:root {
    --family: 'Raleway', sans-serif;
    --btn-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-a: #B4BEC9;
    --color-b: #159A9C;
    --color-c: #002333;
    --color-d: #DEEFE7;
    --color-e: #FFFFFF;
}

li { list-style-type: none; }

.card {
    width: 18rem;
    height: 450px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-img-top { transition: all 1s ease-in; }

.card-title,
aside h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-c);
}

.card-body > button {
    background-color: transparent;
    border: 1px solid var(--color-c);
    color: var(--color-b);
    font-family: var(--btn-family);
    font-size: 1.2em;
    transition: background-color 0.3s ease-in, color 0.5s ease-out;
}

aside > div {
    width: 50% !important;
    position: fixed !important;
    top: 20%;
    left: 25%;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 1s ease-in-out;
}

#modal-account-actions {
    background-image: url('../images/person-vr.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#modal-account-actions h1 {
    font-size: 2em;
    text-shadow: 1px 1px var(--color-e);
}

#modal-account-actions p {
    width: 40%;
    color: var(--color-a);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px var(--color-c);
}

.modal-auth {
    background-color: var(--color-d);
    border-radius: 20px;
    box-shadow: 4px 4px 12px var(--color-c);
}

#modal-register { top: 5%; }

.modal-auth-descriptions {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url('../images/person-vr-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 400px;
}

#modal-register .modal-auth-descriptions {
    height: 700px;
    background-position: top right !important;
}

.modal-auth h1 {
    font-size: 1.8em;
    color: var(--color-c);
    text-shadow: 1px 1px 3px var(--color-e);
    font-weight: bold;
}

.modal-auth p {
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 6px var(--color-d);
}

label {
    color: var(--color-e);
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--color-c);
    cursor: pointer;
}

.modal-auth .form-control,
.modal-auth .form-control:focus,
.input-group-text {
    border: 0px none transparent;
    box-shadow: 1px 1px 5px var(--color-e);
    color: var(--color-b);
    background-color: var(--color-e);
}

form > .btn {
    color: var(--color-e);
    background-color: var(--color-b);
    font-family: var(--btn-family);
    font-size: 1.2em;
    transition: transform 0.4s ease-out;
    cursor: pointer;
}

form > .btn:hover {
    color: var(--color-e);
    background-color: var(--color-b);
    transform: scale(1.03);
}

.extra-actions .btn-link {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-c);
}

.extra-actions .btn-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-b);
}

.modal-auth .form-control::placeholder { color: var(--color-b); }

.modal-header > button {
    font-size: 1.5em;
    color: var(--color-c);
    transition: color 0.3s ease-in-out;
}

.modal-header > button:hover,
.modal-header > button:active { color: var(--color-a) !important; }

.modal-actions { width: 40%; }

.modal-actions > button {
    border: 2px solid var(--color-c);
    color: var(--color-b);
    background-color: var(--color-d);
    font-family: var(--btn-family);
    font-size: 1.2em;
    transition: color 0.3s ease-in;
}

.modal-actions > button:hover { color: var(--color-c); }

.modal-actions i { margin-right: 5px; }
