Página de registro
{{ message }}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <label for="first-name-field">Primeiro nome</label>
    <input type="text" name="first-name" id="first-name-field">
    <label for="surname-field">Sobrenome</label>
    <input type="text" name="surname" id="surname-field">
    <label for="email-field">Email</label>
    <input type="email" name="email" id="email-field">
    <label for="password-field">Senha</label>
    <input type="password" name="password" id="password-field">
    <label for="password-confirmation-field">Confirmação</label>
    <input type="password" name="password-confirmation" id="password-confirmation-field">
    <input type="submit" value="Registrar-se">
</form>
<a href="{% url 'login' %}">Já tem conta? Faça login.</a>
